.content {
  grid-area: c;
  background: url(../assets/img/pics/bg/tractorbg.jpg) no-repeat;
  background-position: center;
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 95px 75px 1fr 6fr;
  grid-template-areas: ". wt wt wt . . . i i i i ." ". . bwm bwm bwm bwm . i i i i .";
}

.content #welcome_to {
  font-family: "Rubik";
  color: #727272;
  grid-area: wt;
  font-size: 5rem;
}

.content #bwm_machinery {
  font-family: "Rubik";
  color: #727272;
  grid-area: bwm;
  font-size: 4rem;
}

.content p {
  grid-area: i;
  font-family: "Open Sans";
  font-size: 1.3rem;
  color: white;
  grid-row: 4 / 5;
}

footer {
  grid-area: f;
  background: yellow;
}
