@import url('https://fonts.googleapis.com/css?family=Kavivanar|Open+Sans|Oswald|Rubik');

body {
	.site {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto auto 1fr;
		grid-template-areas:
			"h h h h h h h h h h h h h"
			"c c c c c c c c c c c c c"
			"f f f f f f f f f f f f f";

		header {
			grid-area: h;
			background: #587B7F;
			display: grid;
			grid-template-columns: 1fr auto 2fr 7fr;
			grid-template-areas: ". l . n";
			nav {
				grid-area: n;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				grid-template-areas: "home sale contact about";

				.active_page {
					border-top: 7px solid #9FFFCB;
				}

				.link {
					color: #E6E6E6;
					text-decoration: none;
					text-align: center;
					font-family: "Oswald";
					font-size: 2.3rem;
				}

				.link:hover {
					color: rgb(230, 166, 44);
				}

				#home {
					grid-area: home;
				}

				#forsale {
					grid-area: sale;
				}

				#contact {
					grid-area: contact;
				}

				#about {
					grid-area: about;
				}
			}
			a {
				grid-area: l;

				.logo {
					max-width: 380px;
				}
			}
		}
	}

	.content {
	  height: 1000px;
	  background-position: center;
	  width: 100%;
	  grid-area: c;

		footer {
			grid-area: f;
			display: grid;
			width: 300px;
			display: grid;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			grid-template-areas: "s s s s";

			.sponsors {
				grid-area: s;
			}
		}
	}
}

//Ipad Pro
@media only screen and (max-width: 1024px) {
	body {
		.site {
			header {
				nav {
					.link {
						font-size: 1.9rem;
					}
				}
			}
		}
	}
}

//Ipad
@media only screen and (max-width: 768px) {
	body {
		.site {
			header {
				nav {
					.link {
						font-size: 1.4rem;
					}
				}

				a {
					.logo {
						max-width: 250px;
					}
				}
			}
		}
	}
}

//Iphone 8
@media only screen and (max-width: 768px) {
	body {
		.site {
			header {
				grid-area: h;
				background: #587B7F;
				display: grid;
				grid-template-columns: 1fr auto 2fr 7fr;
				grid-template-rows: 1fr 1fr;
				grid-template-areas: ". l l ."
														 "n n n n";
				nav {
					grid-area: n;
					.link {
						font-size: 1.3rem;
					}
				}

				a {
					.logo {
						max-width: 250px;
					}
				}
			}
		}
	}
}
